@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4b0082;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.menu-icon, .close-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
}

.close-icon {
    display: none;
}

nav ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4b0082;
}

nav ul.show {
    display: flex;
    justify-content: center;
    align-items: start;
}

nav li {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #800080;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    font-weight: 700;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

figure {
    margin: 0 0 20px;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #4b0082;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}